/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px hsl(278, 34%, 29%);
    background-color: hsla(280, 62%, 87%, 0.8);
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #content {
    background-color: aliceblue;
    width: 1300px;
    min-height: 500px;
    padding: 10px;
    margin: 10px;
    border:dotted 4px;
    font-size: 20px;
    border-radius: 25px;
  }
  body {background-color: rgb(203, 219, 234);}